// Query Sizes

$screen-sm: 640px;
$screen-md: 768px;
$screen-lg: 1024px;
$screen-xl: 1280px;

// Font Sizes

$extra-small-font-size: 12px;
$small-font-size: 14px;
$default-font-size: 16px;
$big-font-size: 18px;
$extra-big-font-size: 20px;
$large-font-size: 24px;

// Spacement

$element-default-space-value: 20px;
$sidebar-container-size: 0 10px;