// Layout Colors

$layout-primary-color: #00BFA5;
$layout-secondary-color: #5FB9B0;
$layout-tertiary-color: #CDD1CE;
$layout-quaternary-color: #00A5F4;
$layout-quinary-color: #FFFFFF;
$layout-senary-color: #F9F9F9;

// Chat Colors

$chat-header-background-color: #EDEDED;
$sidebar-header-icons-color: #919191;
$notification-reminder-color: #9DE1FE;
$search-background-color: #F6F6F6;
$contact-background-color: #F5F5F5;
$message-notification-color: #06D755;
$contact-icons-color: #BABABA;
$my-messages-ballon-color: #DCF8C6;

// Font Colors

$font-primary-color: #585858;
$font-secondary-color: #FFFFFF;
$font-tertiary-color: #AAA;