// Layout Colors

$layout-primary-color: #00BFA5;
$layout-secondary-color: #5FB9B0;
$layout-tertiary-color: #CDD1CE;
$latout-quartiary-color: #00A5F4;

// Font Colors

$font-primary-color: #585858;
$font-secondary-color: #FFFFFF;