@use '../../../../styles/core/wrapper';
@use '../../../../styles/core/sizes';
@use '../../../../styles/global/colors';

.sidebar__search {
	@include wrapper.align-center;
	height: 50px;
	padding: sizes.$sidebar-container-size;
	background-color: colors.$search-background-color;

	.search__area {
		@include wrapper.align-center;
		width: 100%;
		height: calc(100% - 15px);
		background-color: colors.$layout-quinary-color;
		border: 0.5px solid colors.$chat-header-background-color;
		border-radius: 30px;

		.search__icon {
			margin: 5px 10px;
			color: colors.$sidebar-header-icons-color;
			font-size: sizes.$extra-big-font-size;
			cursor: pointer;
		}
		.search__field {
			width: calc(100% - 60px);
			height: calc(100% - 15px);
			padding: 5px;
			font-size: sizes.$small-font-size;
			border: none;
			outline: none;
		}
	}
}