@use '../../../styles/core/sizes';
@use '../../../styles/global/colors';

.video-area {
  width: 100%;
  height: auto;
  background-color: colors.$layout-senary-color;

  .video-box {
    display: flex;
    justify-content: center;
    align-items: center;

    img, video {
      width: 100%;
      height: 100%;
    }
  }

  .play-button-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 1;
    opacity: 0.5;
    position: absolute;

    svg {
      cursor: pointer;
      font-size: 100px;
      color: #000;
    }
  }
}

@media screen and (min-width: sizes.$screen-lg) {
  .video-area .video-box {
    padding: 50px;
  }
}

@media screen and (min-width: sizes.$screen-xl) {
  .video-area .video-box {
    padding: 100px;
  }
}