@use '../../../styles/core/sizes';
@use '../../../styles/global/colors';

.tutorial {
  display: flex;
  flex-direction: column;

  .tutorial__title {
    margin: 0;
    font-weight: normal;
    font-size: sizes.$big-font-size;
  }

  .tutorial__list {
    padding-inline-start: sizes.$element-default-space-value;
  
    .tutorial__item {
      margin-bottom: 10px;
      list-style: decimal;
  
      .tutorial__item--icon {
        font-size: sizes.$big-font-size;
        background-color: colors.$layout-tertiary-color;
      }
    }
  }

  .tutorial__help-link {
    display: block;
    margin-top: sizes.$element-default-space-value;
    font-size: sizes.$small-font-size;
    font-weight: 600;
    text-decoration: none;
    color: colors.$layout-secondary-color;
  
    &:hover {
      text-decoration: underline;
    }
  }
}

@media screen and (min-width: sizes.$screen-md) {
  .tutorial {
    .tutorial__title {
      font-size: sizes.$large-font-size;
      margin: sizes.$element-default-space-value 0;
    }
    .tutorial__list .tutorial__item {
      font-size: sizes.$big-font-size;
      margin-bottom: sizes.$element-default-space-value;
    }
    .tutorial__help-link {
      font-size: sizes.$default-font-size;
    }
  }
}