@import '../../../styles';

h2 {
  margin: 0;
  font-weight: normal;
  font-size: $big-font-size;
}

ul {
  padding-inline-start: $element-default-space-value;

  li {
    margin-bottom: 10px;
    list-style: decimal;

    svg {
      font-size: $big-font-size;
      background-color: $layout-tertiary-color;
    }
  }
}

.help-link {
  display: block;
  margin-top: $element-default-space-value;
  font-size: $small-font-size;
  font-weight: 600;
  text-decoration: none;
  color: $layout-secondary-color;

  &:hover {
    text-decoration: underline;
  }
}

@media screen and (min-width: $screen-md) {
  h2 {
    font-size: $large-font-size;
    margin: $element-default-space-value;
  }
  ul li {
    font-size: $big-font-size;
    margin-bottom: $element-default-space-value;
  }
  .help-link {
    font-size: $default-font-size;
  }
}