@use '../../../styles/global/colors';
@use '../../../styles//core/sizes';

$box-height: 100px;
$padding: 15px 30px 10px;

.profile {
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  .profile__img-area {
    height: 200px;
    display: flex;
    justify-content: center;
    padding: 25px 0;
    background-color: colors.$chat-header-background-color;

    .profile__shadow {
      display: flex;
      position: absolute;
      background-color: #666;
      color: colors.$font-secondary-color;
      font-size: sizes.$big-font-size;
      border-radius: 50%;
      opacity: 0.5;
      z-index: 0;

      &:hover {
        z-index: 99;
      }

      .profile__shadow-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 200px;
        text-align: center;
        cursor: pointer;
      }
    }
    .profile__img {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      cursor: pointer;
      z-index: 1;
    }
  }
  .profile__title {
    color: colors.$layout-secondary-color;
    margin-bottom: 15px;
  }
  .profile__box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: $padding;
    font-size: sizes.$small-font-size;
    background-color: colors.$layout-quinary-color;
    font-weight: 600;
  }
  .profile__info {
    display: flex;
    justify-content: space-between;

    .profile__input {
      flex: 1;
      margin-right: 10px;
      padding: 5px 0;
      border: none;
      outline: none;
      font-size: 17px;
      color: #666;

      &:focus {
        border-bottom: 1px solid black;
      }
    }
  }
  .profile__text {
    padding: $padding;
    background-color: colors.$chat-header-background-color;
    color: colors.$font-primary-color
  }
  .profile__icon--edit {
    vertical-align: middle;
    color: #666;
    cursor: pointer;
  }
}