@use '../../../styles/global/colors';
@use '../../../styles//core/sizes';

.profile {
  display: flex;
  flex-direction: column;

  .profile__img-area {
    height: 200px;
    display: flex;
    justify-content: center;
    padding: 25px 0;
    background-color: colors.$chat-header-background-color;

    .profile__shadow {
      display: flex;
      position: absolute;
      background-color: #666;
      color: colors.$font-secondary-color;
      font-size: sizes.$big-font-size;
      border-radius: 50%;
      opacity: 0.5;
      z-index: 0;

      &:hover {
        z-index: 99;
      }

      .profile__shadow-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 200px;
        text-align: center;
        cursor: pointer;
      }
    }
    .profile__img {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      cursor: pointer;
      z-index: 1;
    }
  }
}