@use '../../../styles/core/sizes';
@use '../../../styles/core/wrapper';
@use '../../../styles/global/colors';

.container {
  @include wrapper.container;
}

.header {
  height: 90px;
  display: flex;
  align-items: center;
  color: colors.$font-secondary-color;

  .header__logo {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    padding-left: sizes.$element-default-space-value;
    
    .header__icon {
      font-size: 40px;
      margin-right: 10px;
    }
    .header__title {
      font-size: sizes.$default-font-size;
      font-weight: 600;
    }
  }
}

@media screen and (min-width: sizes.$screen-sm) {
  .header .header__logo {
    padding-left: 0;
  }
}