@import '../../styles';

.top-background {
  background-color: $layout-primary-color;
}

.container {
  margin: auto;
}

@media screen and (min-width: $screen-sm) {
  .top-background {
    height: 220px;
  }
  .container {
    width: 80%;
  }
}