@use '../../styles/core/wrapper';
@use '../../styles/core/sizes';
@use '../../styles/global/colors';

.top-background {
  width: 100%;
  background-color: colors.$layout-primary-color;
}

@media screen and (min-width: sizes.$screen-sm) {
  .top-background {
    height: 220px;
  }
}