@use '../../../styles/core/sizes';
@use '../../../styles/core/wrapper';
@use '../../../styles/global/colors';

.content {
  background-color: colors.$layout-quinary-color;
  color: colors.$font-primary-color;
}

@media screen and (min-width: sizes.$screen-sm) {
  .container {
    @include wrapper.container;
  }

  .content {
    box-shadow: 0px 10px 8px #AAA;
  }
}
