@use '../../../styles/core/sizes';

.tutorial {
  display: flex;
  flex-direction: column;
  padding: sizes.$element-default-space-value;
}

@media screen and (min-width: sizes.$screen-md) {
  .tutorial {
    flex-direction: row;
    justify-content: space-evenly;
  }
}