@use '../../../styles/core/sizes';
@use '../../../styles/core/wrapper';
@use '../../../styles/global/colors';

.sidebar {
  flex: 1;
  flex-direction: column;
  color: #000;
  border-right: 0.5px solid #ccc;

  .sidebar__header {
    @include wrapper.align-center;
    justify-content: space-between;
    height: 60px;
    padding: sizes.$sidebar-container-size;
    background-color: colors.$chat-header-background-color;

    .sidebar__profile-picture {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
    .sidebar__options {
      @include wrapper.align-center;

      .options__item {
        color: colors.$sidebar-header-icons-color;
        font-size: 22px;
        cursor: pointer;
      }
    }
    .sidebar__dropdown {
      top: 45px;
      right: 4px;
      width: 150px;
      height: auto;
      position: absolute;
      padding: 5px 0;
      text-align: left;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26), 0 2px 10px 0 rgba(0, 0, 0, .16);
      border: sizes.$element-border solid #ccc;
      border-radius: 3px;
      font-size: sizes.$default-font-size;
      background-color: colors.$layout-quinary-color;
      color: colors.$font-primary-color;

      .sidebar__action {
        padding: 10px 20px;

        &:hover {
          background-color: rgba(0, 0, 0, 0.04);
        }
      }
    }
  }


  .sidebar__notification {
    @include wrapper.align-center;
    height: 70px;
    padding: sizes.$sidebar-container-size;
    background-color: colors.$notification-reminder-color;

    .notification__circle {
      margin-right: 10px;
      padding: 8px 10px;
      border-radius: 50%;
      background-color: colors.$layout-quinary-color;

      .notification__icon {
        font-size: sizes.$extra-big-font-size;
        color: colors.$notification-reminder-color;
      }
    }

    .notification__texts {
      .notification__title {
        font-size: sizes.$small-font-size;
      }
      .notification__button {
        display: block;
        cursor: pointer;
        font-size: sizes.$extra-small-font-size;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }


  .sidebar__search {
    @include wrapper.align-center;
    height: 50px;
    padding: sizes.$sidebar-container-size;
    background-color: colors.$search-background-color;

    .search__area {
      @include wrapper.align-center;
      width: 100%;
      height: calc(100% - 20px);
      background-color: colors.$layout-quinary-color;
      border: 0.5px solid colors.$chat-header-background-color;
      border-radius: 30px;

      .search__icon {
        margin: 5px 10px;
        color: colors.$sidebar-header-icons-color;
        font-size: sizes.$extra-big-font-size;
        cursor: pointer;
      }
      .search__field {
        width: calc(100% - 60px);
        height: calc(100% - 15px);
        padding: 5px;
        font-size: sizes.$small-font-size;
        border: none;
        outline: none;
      }
    }
  }


  .sidebar__contacts {
    min-width: 340px;
    flex: 1;
    background-color: colors.$layout-quinary-color;
    overflow-y: auto;
  }
  .sidebar__contacts::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  .sidebar__contacts::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

@media screen and (min-width: sizes.$screen-md) {
  .sidebar {
    flex: 0.35;
  }
}