@use '../../../styles/core/sizes';
@use '../../../styles/global/colors';

.sidebar {
  flex: 1;
  color: #000;
  border: 1px solid #000;


  .sidebar__header {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background-color: colors.$sidebar-header-background-color;

    .sidebar__profile-picture {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
    .sidebar__options {
      display: flex;
      align-items: center;

      .options__item {
        font-size: 22px;
        padding: 0 10px;
        color: colors.$sidebar-header-icons-color;
      }
    }
  }


  .sidebar__notification {
    height: 12vh;
    display: flex;
    align-items: center;
    background-color: colors.$notification-reminder-color;

    .notification__circle {
      margin: 0 15px;
      padding: 8px 10px;
      background-color: colors.$layout-quinary-color;
      border-radius: 50%;

      .notification__icon {
        font-size: sizes.$extra-big-font-size;
        color: colors.$notification-reminder-color;
      }
    }

    .notification__texts {
      .notification__title {
        font-size: sizes.$small-font-size;
      }
      .notification__button {
        display: block;
        font-size: sizes.$extra-small-font-size;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }


  .sidebar__search {
    height: 8vh;
    display: flex;
    align-items: center;
    background-color: colors.$search-background-color;

    .search__area {
      width: 100%;
      height: calc(100% - 20px);
      display: flex;
      align-items: center;
      margin: 0 20px;
      background-color: colors.$layout-quinary-color;
      border: 0.5px solid colors.$sidebar-header-background-color;
      border-radius: 30px;

      .search__icon {
        margin: 5px 10px;
        color: colors.$sidebar-header-icons-color;
        font-size: sizes.$extra-big-font-size;
        cursor: pointer;
      }
      .search__field {
        width: calc(100% - 60px);
        height: calc(100% - 15px);
        padding: 5px;
        font-size: sizes.$small-font-size;
        border: none;
        outline: none;
      }
    }
  }


  .sidebar__contacts {
    min-width: 340px;
    height: 70vh;
    background-color: colors.$layout-quinary-color;
    overflow-y: auto;
  }
}

@media screen and (min-width: sizes.$screen-md) {
  .sidebar {
    flex: 0.35;
  }
}