@use '../../../styles/core/sizes';
@use '../../../styles/global/colors';
@use '../../../styles/core/wrapper';

.body {
  flex: 0;
  display: none;
  color: #000;
  background-color: #F8F9FB;

  .body__screen {
    max-width: 500px;
    margin: 15vh auto;
    align-items: center;
    text-align: center;
    color: colors.$font-tertiary-color;

    .body__initial-img {
      width: 250px;
    }
    .body__initial-title {
      margin: 0;
      font-weight: normal;
      font-size: sizes.$large-font-size;
      color: colors.$font-primary-color;
    }
    .body__initial-icon {
      vertical-align: middle;
      font-size: sizes.$large-font-size;
      margin-right: 5px;
    }
    .body__initial-windows-link {
      color: colors.$message-notification-color;
      font-weight: 600;
      text-decoration: none;
      margin-left: 5px;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .body__header {
    @include wrapper.align-center;
    justify-content: space-between;
    height: 10vh;
    padding: sizes.$sidebar-container-size;
    background-color: colors.$chat-header-background-color;

    .body__info {
      @include wrapper.align-center;
    }
    .body__profile-picture {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 5px;
    }
    .body__name {
      margin: 0;
      padding: 0;
      font-weight: 500;
      font-size: 15px;
    }
    .body__texts .body__lastSeen {
      font-size: 14px;
    }
    .body__options {
      @include wrapper.align-center;

      .body__item {
        font-size: 26px;
        padding: sizes.$sidebar-container-size;
        color: colors.$sidebar-header-icons-color;
        cursor: pointer;
      }
    }
  }
  .body__messages {
    height: 80vh;
    background-color: red;
  }
  .body__text-area {
    height: 10vh;
    background-color: green;
  }
}

@media screen and (min-width: sizes.$screen-md) {
  .body {
    flex: 0.65;
    display: block;
  }
}