@use '../../../styles/core/sizes';

.body {
  flex: 0;
  display: none;
  color: #000;
  border: 1px solid #000;

  .body__header {
    height: 10vh;
    border: 1px solid #F00;
  }
  .body__messages {
    height: 80vh;
    border: 1px solid #F00;
  }
  .body__text-area {
    height: 10vh;
    border: 1px solid #F00;
  }
}

@media screen and (min-width: sizes.$screen-sm) {
  .body {
    flex: 0.65;
    display: block;
  }
}