@use '../../styles//global/colors';
@use '../../styles//core/sizes';

.modal {
	display: flex;
	flex-direction: column;

	.modal__header {
		height: 100px;
		display: flex;
		align-items: flex-end;
		background-color: colors.$layout-primary-color;
		color: colors.$layout-quinary-color;
		font-size: sizes.$big-font-size;
		font-weight: 600;
	}
	.modal__arrow,
	.modal__title {
		margin: 0 0 10px 10px;
	}
	.modal__arrow {
		cursor: pointer;
	}
}