@use '../../styles//global/colors';
@use '../../styles//core/sizes';

$header-height: 100px;
$header-padding-side: 20px;
$header-padding-size: 10px;

.modal {
	width: 100%;
	display: flex;
	flex-direction: column;
	height: 100%;
	top: 0;
	bottom: 0;
	background-color: colors.$chat-header-background-color;
	border-right: 0.5px solid #ccc;
	position: fixed;
	transition: all ease 0.5s;

	.modal__header {
		display: flex;
		align-items: flex-end;
		height: $header-height - $header-padding-size * 2;
		background-color: colors.$layout-secondary-color;
		color: colors.$layout-quinary-color;
		font-size: sizes.$big-font-size;
		font-weight: 600;
		padding: $header-padding-size $header-padding-side;
	}
	.modal__title {
		margin-left: 10px;
	}
	.modal__arrow {
		cursor: pointer;
	}
}

@media only screen and (min-width: sizes.$screen-md) {
	.modal {
		width: 35%;
		max-width: 415px;
	}
}