@use '../../../styles/core/sizes';
@use '../../../styles/global/colors';

.scan {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0;

  .scan__qr-code, .scan__reload-qr-code {
    width: 260px;
    height: 260px;
  }

  .scan__qr-code {
    position: absolute;

    img {
      width: 100%;
      height: 100%;
    }
  }
  .scan__reload-qr-code {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

    .scan__circle {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 70%;
      height: 70%;
      border-radius: 50%;
      background-color: colors.$layout-primary-color;
      color: colors.$font-secondary-color;
      cursor: pointer;

      .scan__reload-icon {
        margin-bottom: 10px;
        font-size: 28px;
      }
      .scan__reload-text {
        text-align: center;
        font-size: sizes.$default-font-size;
      }
    }
  }

  .reminder {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    .reminder__arrow::before {
      content: '';
      margin-top: 0px;
      margin-left: -5px;
      position: absolute;
      border: 15px solid;
      border-color: transparent transparent colors.$layout-quaternary-color transparent;
    }

    .reminder__check {
      z-index: 1;
    }
  }

  .reminder__msg {
    background-color: colors.$layout-quaternary-color;
    color: colors.$font-secondary-color;
    border-radius: 5px;
    padding: 10px;
    font-weight: 600;
    box-shadow: 0px 3px 5px #AAA;
  }
}