@use '../../../styles/core/sizes';
@use '../../../styles/global/colors';

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  color: colors.$font-secondary-color;
  background-color: colors.$layout-primary-color;

  .made-by {
    margin-left: 5px;
    font-weight: bold;
    color: colors.$font-secondary-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

@media screen and (min-width: sizes.$screen-sm) {
  footer {
    margin-top: 50px;
  }
}